.header-container {
    height: 75vh; 
    width: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.header-left {
    width: 50%;
    height: 100%;
    padding: 15px 0;
}

.left-content {
    text-align: center;
    width: 50%;
    margin: auto;
}

.left-content img {
    width: 460px;
}

.left-content p {
    padding: 20px 0 20px;
    text-align: justify;
}

.left-content a {
    text-decoration: none;
    background-color: #212121;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #212121;
}

.left-content a:hover {
    transition: 0.8s;
    background-color: #fff;
    color: #212121;
}

.header-right {
    width: 50%;
    height: 100%;
    padding: 15px 0;
}

.header-right img {
    width: 50%;
    border: 2px solid #fff;
}

@media (max-width: 1280px) {
    .header-container {
        height: auto;
        overflow: visible;
        display: block;
    }
    
    .header-left {
        width: 100%;
        padding: 20px 0;
        margin-top: 40px;
    }
    
    .left-content {
        width: 50%;
    }
    
    .left-content img {
        width: 100%;
    }
    
    .left-content p {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    .left-content a {
        font-size: 0.8rem;
        padding: 10px 15px;
    }

    .header-right {
        width: 100%;
        padding: 20px;
        margin-top: 40px;
    }
    
    .header-right img {
        width: 50%;
        border: 2px solid #fff;
    }
}

@media (height: 800px) {
    .left-content img {
        width: 80%;
    }

    .left-content p {
        font-size: 1rem;
    }

    .left-content a {
        font-size: 1rem;
    }
}

@media (height: 600px) {
    .left-content img {
        width: 80%;
    }

    .left-content p {
        font-size: 1rem;
    }

    .left-content a {
        font-size: 1rem;
    }
}