.header-container {
    width: 100%; /*80%*/
    margin: auto;
    overflow: hidden;
}

.header-text {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 40px;
}

.text-content {
    text-align: center;
    width: 65%;
    margin: auto;
}

.text-content img {
    width: 70%;
}

.text-content p {
    padding: 20px 0 20px;
    text-align: justify;
}

.text-content a {
    text-decoration: none;
    background-color: #212121;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #212121;
}

.text-content a:hover {
    transition: 0.8s;
    background-color: #fff;
    color: #212121;
}

.header-img {
    width: 100%;
    padding: 15px 0;
    display: flex;
}

.header-img img {
    width: 50%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

@media (max-width: 1280px) {
    .header-container {
        height: auto;
        overflow: visible;
        display: block;
    }
    
    .header-text {
        width: 100%;
        padding: 20px 0;
        margin-top: 40px;
    }
    
    .text-content {
        width: 80%;
    }
    
    .text-content img {
        width: 100%;
    }
    
    .text-content p {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    .text-content a {
        font-size: 0.8rem;
        padding: 10px 15px;
    }
}

@media (height: 800px) {
    .text-content img {
        width: 80%;
    }

    .text-content p {
        font-size: 1rem;
    }

    .text-content a {
        font-size: 1rem;
    }
}

@media (height: 600px) {
    .text-content img {
        width: 80%;
    }

    .text-content p {
        font-size: 1rem;
    }

    .text-content a {
        font-size: 1rem;
    }
}